ul#tab {
  width: 1190px;
  zoom: 1;
  background: #c9c3c4;
  border-bottom: 3px solid #c81528;
  list-style: none;
  margin: 0 auto;
  padding: 0;
}
ul#tab:after {
  content: ".";
  display: block;
  height: 0px;
  clear: both;
  line-height: 0;
  visibility: hidden;
}
ul#tab li {
  float: left;
  text-align: center;
}
ul#tab li:last-child {
  background: none;
}
ul#tab li a {
  display: block;
  width: 297.5px;
  padding: 8px 0;
  text-decoration: none;
  color: #222;
}
ul#tab li a:hover {
  background: #c95560;
  color: #fff;
}
ul#tab li.active, ul#tab li.active a, ul#tab li.active a:hover {
  background: #c81528;
  color: #fff;
}
#detail {
  margin: 0 auto;
  clear: both;
  overflow: hidden;
  background: #f7f7f7;
  width: 1150px;
  height: auto;
  padding: 20px;
}
.tabbox {
  display: none;
}
table {
  margin-right: auto;
  margin-left: auto;
  border-spacing: 50px;
  width: 1000px;
  height: 400px;
}
td {
  width: 400px;
  height: 300px;
  text-align: center;
  vertical-align: middle;
}
h1 {}
div.plan {
  text-align: center;
}
body {
  font: 14px "ƒqƒ‰ƒMƒmŠpƒS Pro W3", tahoma, arial;
}
input {
  background-color: none;
  border-color: none;
  border-style: none;
  border-width: 0;
  padding: 0;
}
#wrap {
  padding: 10px;
  width: 400px;
  margin: 0 auto;
  text-align: center;
  border: 1px solid #cccccc;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
section {
  margin-bottom: 1em;
}
h3 {
  margin-bottom: 1em;
}
p {
  margin-bottom: 1em;
}
button:hover {
  cursor: pointer;
}
button::-moz-focus-inner {
  border: 0;
}
.button {
  background: #8fd324;
  background: -moz-linear-gradient(top, #b1e362 0%, #a2d847 50%, #8acb1f 50%, #7dbf0d 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #b1e362), color-stop(0.5, #a2d847), color-stop(0.5, #8acb1f), color-stop(1, #7dbf0d));
  border: 1px solid #5b9400;
  border-bottom: 1px solid #568a03;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: inset 0 1px 0 0 #c8eb8f;
  -webkit-box-shadow: inset 0 1px 0 0 #c8eb8f;
  box-shadow: inset 0 1px 0 0 #c8eb8f;
  color: #fff;
  font: 16px "ƒqƒ‰ƒMƒmŠpƒS Pro W3", tahoma, arial;
  padding: 7px 0 8px 0;
  text-decoration: none;
  text-align: center;
  text-shadow: 0 -1px 1px #426b01;
  width: 200px;
}
.button:hover {
  background: #689b13;
  background: -moz-linear-gradient(top, #9ad055 0%, #8dc241 50%, #78b41b 50%, #6da70a 100%);
  background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #9ad055), color-stop(0.5, #8dc241), color-stop(0.5, #78b41b), color-stop(1, #6da70a));
  cursor: pointer;
}
.button:active {
  -moz-box-shadow: inset 0 0 10px 0 #2b430d, 0 1px 0 #fff;
  -webkit-box-shadow: inset 0 0 10px 0 #2b430d, 0 1px 0 #fff;
  box-shadow: inset 0 0 10px 0 #2b430d, 0 1px 0 #fff;
  cursor: pointer;
}
.btn_submit {
  -webkit-appearance: none;
  font: 16px "ƒqƒ‰ƒMƒmŠpƒS Pro W3", tahoma, arial;
}
input[type=radio], input[type=checkbox] {
  display: none;
}
.radio, .checkbox {
  box-sizing: border-box;
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  margin: 0 20px 8px 0;
  padding: 12px 12px 12px 42px;
  border-radius: 8px;
  background-color: #f6f7f8;
  vertical-align: middle;
  cursor: pointer;
}
.radio:hover, .checkbox:hover {
  background-color: #e2edd7;
}
.radio:hover:after, .checkbox:hover:after {
  border-color: #53b300;
}
.radio:after, .checkbox:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 16px;
  height: 16px;
  border: 2px solid #bbb;
  border-radius: 6px;
  content: '';
}
.radio:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 20px;
  display: block;
  margin-top: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #53b300;
  content: '';
  opacity: 0;
}
input[type=radio]:checked + .radio:before {
  opacity: 1;
}
.checkbox:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 21px;
  display: block;
  margin-top: -7px;
  width: 5px;
  height: 9px;
  border-right: 3px solid #53b300;
  border-bottom: 3px solid #53b300;
  content: '';
  opacity: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox:before {
  opacity: 1;
}

.lineup {
  margin-left: 200px;
}
.lineup h1 {
  font-size: 35px;
}
.plan h1 {
  font-size: 30px;
}
.lineup p {
  font-size: 20px;
}
