

#wrap {
	margin: auto;
	width: 700px;
}

/* */
.login {
	margin: 0;
	padding: 0;
	width: 300px;
	float: left;
	font-size: 15px;
	font-weight: bold;
}
.login ul li {

	list-style-type: none;
}
.textField {
	margin-top: 20px;
	margin-bottom: 20px;
	height:25px;
}
.textField:hover {
	border: 1px solid #32cd32;
}

.submit_button {
	margin-top: 20px;
	padding: 10px;
	text-align:center;
	font-weight: bold;
	font-family: monospace;
	background-color: #32cd32;
	color: white;
	width: 100%;
	height: 40px;
	border: none;
}
.submit_button:hover {
	color: #32cd32;
	background-color: #ffffff;
	cursor: pointer;
	border: 1px solid #888888;
}

/* */
.social_login {
	width: 300px;
	float: right;
}
.social_login ul li {
	list-style: none;
	margin-top: 40px;
	margin-bottom: 100px;
}

.social_login img:hover{
	width: 110%;
	heigth: 110%;
	border: 1px solid #32cd32;
}


/* */
.other {
	float: left;
	margin-top: 10px;
	padding: 0;
}
.other ul {
	margin: 0;
	padding: 0;
}
.other ul li {
	list-style-type: none;
}
.other ul li a {
	margin-top: 30px;
	padding: 6px;
	text-align:center;
	font-weight: bold;
	font-family: monospace;
	display: block;
	width: 260px;
	height: 30px;
	text-decoration: none;
	background-color: #32cd32;
	color: #ffffff;

}
.other ul li a:hover {
	color: #32cd32;
	background-color: #ffffff;
	border: 1px solid #888888;
}